@media (max-width: 1999px){
    .nav-bar-section .nav-bottom-container .company-log-container, .nav-bar-section .nav-bottom-container .icons-container{
        width: 170px;
    }
    .nav-bar-section .nav-links-container ul li.dropdown-menu-link-container{
        padding: 0px 10px;
    }
}
@media (max-width: 991px){
    .nav-bar-section .nav-links-container{
        display: none;
    }
    .nav-bar-section .nav-bottom-container .icons-container{
        width: fit-content;
        margin-left: auto;
    }
    .nav-bar-section .nav-bottom-container .icons-container .menu-button-container{
        display: block;
    }

    .hero{
        height: auto;
    }
    #projectInfoModal .modal-content{
        height: auto;
    }
    .modal-dialog {
        max-width: 90%;
    }
    #hireModal  .modal-content{
        height: auto;
    }
    .modal-content {
        width: 100%;       
    }
    .hero-content {
        padding: 30px 10px
    }
    .hero-content .action{
        display: flex;
        width: 100%;
    }
}

@media (max-width: 768px) {
    #hireModal .btn-close{
        width: 41px;
    }
    #modalImages img{
        top: 40%;
        max-height: 100%;
    }
    .modal-title{
        font-size: 17px;
    }
    .modal-footer button, .sendHireBtn{
        width: 100%;
    }
    .modal-footer button:hover, .sendHireBtn:hover{
        width: 100%;
    }
    .modal-content .form-control #d
    .button-container {
        flex-direction: column;
        align-items: center;
    }
    .carousel-control-next, .carousel-control-prev{
        top: 54%;
    }
    .carousel-control-prev {
        left: 30%;
    }
    .carousel-control-next {
       right: 30%;
    }
    .btn-b, .btn-info {
        width: 100%;
        margin-bottom: 5px;
    }
    .skills-section h2, .projects-section .heading h2{
        font-size: revert;
    }
    .tools-grid {
        grid-template-columns: 1fr;
    }
    .contact-details-container .each-detail-container p a{
    font-size: 19px;
    }
    .Contact-Us .title-heading-center{
    font-size: 22px;
    }
    #projectInfoModal .modal-dialog {
        max-width: calc(100% - 20px);
    }
    .skills-section, .Contact-Us{
        overflow: hidden;
    }
    .skills-section .row{
        margin-right: 0;
        margin-left: 0;
    }
    .info-section {
        padding: 15px;
    }
    .projects-section {
        padding: 60px 0;
        color: #fff;
    }
}

@media (max-width: 	767px){
.hero-content h1{
    font-size: 2rem;
}
#projectInfoModal .modal-title{
    font-size: large;
}
.hero-content h2 {
  font-size: 1.5em;
}
.hero-content p{
    line-height: unset;
}
.hero-content .btn{
    width: 100%;
    display: ruby;
}
.hero-content .btn-b{
    width: -moz-available;
}
.hero-image{
    padding: 10px;
    margin-top: 0;
}
.projects-section .heading h4{
    font-size: smaller;
}
.projects-section .col-md-3{
    margin-bottom: 8%;
    margin-left: 10%;
}
.tools-grid{
    display: unset;
}
}
@media (max-width: 	428px){
.contact-details-container .each-detail-container{
    margin-left: 7%;
}
}
